#config {
    border: 2px solid black;
    width: 100%;
}

#author {
    text-align: center;
}

hr{
    margin-top: 80px;
}

#href {
    text-align: center;
}

h2{
    margin-top: 40px;
}

#spec {
    border-spacing: 10px;
}

*{
    font-family: Arial, serif;
}

ul {
    padding-left: 20px;
    margin-top: 2px;
    margin-bottom: 60px;
}