*{
    font-size: 120%;
    font-style: Arial, sans-serif;
}

h1{
    font-size: 250%;
}

.value{
	text-align: center;
	background-color: #A9A9A9;
}

#button{
	margin-top: 40px;
	margin-left: 20px;
	width: 400px;
	height: 80px;
	background-color: #1E90FF;
	font-size: 150%;
}

th, td {
   padding: 10px 15px;
}

table {
   table-layout: fixed;
   width: 90%;
}

#error{
	width: 600px;
	font-size: 150%;
}

#result{
	width: 600px;
	font-size: 150%;
}